@use "global" as *;

.common-button {
    background-color: $black;
    color: $white;
    text-transform: uppercase;
    line-height: 1;
    padding: rem(12) 0;
    letter-spacing: 0.015em;
    font-size: rem(12);
    font-weight: $medium;
    display: inline-block;
    text-align: center;
    max-width: rem(160);
    width: 100%;
}