@use "global" as *;

.footer {
    background-color: $gray;
    padding:  rem(20) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq("md") {

    }
}

.footer__copyright {
    color: $white;
    font-size: rem(10);
    font-weight: $medium;
    line-height: 1;
    letter-spacing: 0.015em;
    text-align: center;
}
