@use "global" as *;

.message {
    overflow-x: hidden;
}

.message__image {
    margin-left: calc(50% - 50vw);
    max-width: rem(340);
    width: 100%;
    @include mq("sm") {
        margin-left: initial;
        max-width: rem(320);
    }
    @include mq("lg") {
        max-width: rem(420);
    }
}

.message__image img {
    aspect-ratio: 340/230;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.message__content {
    background-color: $bg-gray;
    margin-top: rem(-100);
    padding-top: rem(126);
    padding-bottom: rem(80);
    padding-inline: rem(29);
    @include mq("sm") {
        padding-top: rem(110);
        padding-bottom: rem(96);
        width: calc(494 / 768) * 100vw;
        margin-left: auto;
        margin-top: rem(-88);
    }
    @include mq("lg") {
        padding-top: rem(120);
        padding-bottom: rem(90);
        width: calc(770 / 1100) * 100%;
        margin-top: rem(-135);
    }
}

.message__text-wrap {
    max-width: rem(400);
    width: 100%;
    margin-inline: auto;
    @include mq("sm") {
        max-width: rem(414);
    }
    @include mq("lg") {
        max-width: rem(400);
    }
}

.message__text {
    margin-top: rem(28);
    font-size: rem(14);
    font-weight: $regular;
    line-height: calc(28 / 14);
    @include mq("lg") {
        font-size: rem(16);
        margin-top: rem(31);
    }
}
