@use "global" as *;

.top-topics {

}

.top-topics__list {
    margin-top: rem(28);
    max-width: rem(700);
    width: 100%;
    @include mq("sm") {
        margin-top: rem(25);
    }
    @include mq("lg") {
        margin-left: auto;
    }
}